nav{
    background-color: rgb(132, 237, 139);
    height: 60px;
    border: 10px solid transparent;
    margin-bottom: 20px;
}
ul{
    padding-top: 5px;
    display:flex;
    gap: 50px;
}
ul li{
    list-style-type: none;
}
li a{
    padding: 5px;
    text-decoration: none;
    color: black;
    background-color: pink;
    box-shadow: 8px 6px;
}
a:hover{
    transform: scale(1.1);
    background-color: rgb(48, 141, 177);
    color: white;
}